<% current_provider.services.split.flatten.each do |service| %>
<div class="product">
  <% service.availabilities.each do |availability| %>
    <% if availability.user.photos? %>
      <%= cl_image_tag availability.user.photos.path %>
    <% else %>
      <%= image_tag "cosilverlogo3.png", class: "product-image" %>
    <% end %>
  <div class='product-body'>
    <h3><%= service.title %></h3>
    <p><strong><%= availability.user.email %></strong></p>
    <p>Le <%= availability.date.strftime("%d/%m/%Y") %></p>
    <p><%= %></p>
  </div>
  <ul class="list-inline product-controls product-controls-hidden hidden-sm hidden-xs">
    <%= link_to "", dashboard_users_path, class: "fa fa-trash"%>
  </ul>
</div>
  <% end %>
<% end %>
