<%= javascript_include_tag "https://maps.google.com/maps/api/js?libraries=places&key=#{ENV['GOOGLE_API_BROWSER_KEY']}" %>

<div class="banner" id="banner-form" style="background-image: linear-gradient(-225deg, rgba(145, 136, 154, 0.68) 0%, rgba(12, 15, 15, 0.5) 50%), url('<%= image_path('breakfast2.jpg')%>');">
  <div class="container">
    <div class="row">
      <div class="col-xs-10 col-offset-1 col-sm-6">
      <h3>Ajoutez un nouveau service</h3>
        <%= simple_form_for [current_provider, @service], :url => services_path, do |f| %>
          <%= f.input :title, placeholder: "Service title" %>
          <%= f.input :price_per_hour, placeholder: "price/hour" %>
          <%= f.input :category, as: :select, collection: Service::SOUS_CATEGORIES, placeholder: "Service category"%>
           <%= f.input :description, placeholder: "Service description"%>
           <%= f.input :address, placeholder: "Service address"%>
        <div class="form-group">
          <label for="" class="control-label">Sélectionnez vos disponibilités</label>
          <div id="datepicker"></div>
          <input type="hidden" id="my_hidden_input" name="availabilities">
        </div>
        <%= f.submit "Add a Service", class: "btn btn-success" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
