    <div class="container text-center">
      <div class="offer-show-container">
        <div class="col-xs-12 col-sm-4 col-sm-offset-2">
          <div class="padded">
            <% if service.provider.photos.first.nil? %>
            <%= image_tag "prestataire.png", width: 180, height: 320, crop: :fill %>
            <% else %>
            <%= cl_image_tag service.provider.photos.first.path, width: 180, height: 100, crop: :thumb, gravity: :face %>
            <% end %>
            <p><%= service.description %></p>
            <h4> <%= service.provider.first_name %></h4>
            <h5> <%= service.title %></h5>
            <p><i class="fa fa-map-marker" aria-hidden="true"></i> <%= service.address.last(5) %></p>
            <h5>
             <i class="fa fa-money" aria-hidden="true"></i> <span> <%= service.price_per_hour %> €/heure</span></h5>
            </div>
          </div>
          <div class="col-xs-12 col-sm-4">
            <div class="padded ">
              <h3>Calendrier</h3>
              <%= simple_form_for [service ] do |f| %>
              <div class="form-group">
                <label for="" class="control-label">Sélectionnez vos disponibilités</label>
                <div  id="datepicker-show"></div>
                <input type="hidden" id="my_hidden_input_show" name="booking_dates">
              </div>
              <%= f.submit "Réservez une prestation", class: "btn btn-success" %>
              <% end %>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>

  <%= content_for :after_js do %>
  <script>
    var availableDates = <%= raw @availabilities %>

    $('#datepicker-show').datepicker({
      format: "dd/mm/yyyy",
      weekStart: 1,
      multidate: true,
      beforeShowDay:
      function(date)
      {
        return available(date)
      }
    });

    $('#datepicker-show').on('changeDate', function() {
      $('#my_hidden_input_show').val(
        $('#datepicker-show').datepicker('getFormattedDate')
        );
    });

    function available(date) {
      dmy = date.getDate() + "-" + (date.getMonth()+1) + "-" + date.getFullYear();
      if ($.inArray(dmy, availableDates) != -1) {
        return { enabled: true, classes: "available" }
      } else {
        return { enabled: false, classes: "booked" }
      }
    }
  </script>
  <% end %>
