<div class="container text-center col-xs-12 col-md-8">
  <div class="col">
    <div class="row">
       <% @services.each do |service| %>


            <figcaption>
              <h3><%= service.title %> </h3>
              <p><%= service.category %></p>
              <p><%= service.description %></p>
              <p><%= service.address %></p>
              <div class="price">
               <p> <s>$39.00</s> <%= service.price_per_hour %>$</p>
               <%= link_to "Détails", service_path(service) %>

              </div>
            </figcaption><i class="ion-android-cart"></i>
            <a href="#"></a>

       <% end %>
    </div>
  </div>
</div>




<div class="mappy col-xs-12 col-md-4">
  <div id="map" style="width: 100%; height: 100vh;"></div>
</div>



<%= javascript_include_tag "https://maps.google.com/maps/api/js?libraries=places&key=#{ENV['GOOGLE_API_BROWSER_KEY']}" %>
<%= javascript_include_tag "https://cdn.rawgit.com/printercu/google-maps-utility-library-v3-read-only/master/markerclusterer/src/markerclusterer_compiled.js" %>
<%= javascript_include_tag "https://cdn.rawgit.com/printercu/google-maps-utility-library-v3-read-only/master/infobox/src/infobox_packed.js" %>
<% content_for(:after_js) do %>
  <script>
    $(document).ready(function() {
    var handler = Gmaps.build('Google');
    handler.buildMap({ internal: { id: 'map' } }, function() {
    markers = handler.addMarkers(<%= raw @hash.to_json %>);
    handler.bounds.extendWith(markers);
    handler.fitMapToBounds();
        if (markers.length == 0) {
        handler.getMap().setZoom(2);
      } else if (markers.length == 1) {
      handler.getMap().setZoom(14);
      }
      });
      });
  </script>
<% end %>
