
<div class="container">
  <div class="map-container text-center col-xs-12 col-sm-4 ">

    <h3>Trouvez un service sur mesure</h3>
    <p>contactez le prestataire</p>

    <%= form_tag(services_path, method: :get, class: 'form-search') do %>
    <%= text_field_tag :search_city, params[:search_city] , placeholder: "ville", class: "input-medium search-query" %>
    <br>
    <%= select_tag :search_category, options_for_select(Service::SOUS_CATEGORIES, params[:search_category]), prompt: "Catégorie?" %>
    <%= submit_tag "Trouvez un spécialiste", class: "btn btn-primary" %>
      <% end %>


  <div class="mappy">
    <div class="card">
      <div id="map" style="width: 100%; height: 100vh;"></div>
    </div>
    </div>
  </div>

<div class="container-index text-center col-xs-12 col-sm-8" style="overflow:scroll; height: 90vh;">
  <div class="row">
         <% @services.each do |service| %>
     <div class="col-xs-12 col-sm-6">
            <div class="card">
            <figure class="snip1139">
              <% if service.description %>
                <blockquote> <%= service.description.first(70) %>...
                  <div class="arrow"></div>
                </blockquote>
              <% end %>
              <% if service.provider.photos.first.nil? %>
               <%= image_tag 'cosilverlogo3.png', width: 300, height: 200, crop: :fill %>
               <% else %>
               <%= cl_image_tag service.provider.photos.first.path, width: 300, height: 200, crop: :fill %>
               <% end %>
              <div class="author">
                <h5><%= service.title %> <span><%= service.category %></span>
                <%= link_to "Détails", service_path(service) %></h5>
              </div>
            </figure>
           </div>

      </div>
      <% end %>
    </div>
  </div>

</div>


<% content_for(:after_js) do %>
<script>
  $(document).ready(function() {
    var handler = Gmaps.build('Google');
    handler.buildMap({ internal: { id: 'map' } }, function() {
      markers = handler.addMarkers(<%= raw @hash.to_json %>);
      handler.bounds.extendWith(markers);
      handler.fitMapToBounds();
      if (markers.length == 0) {
        handler.getMap().setZoom(2);
      } else if (markers.length == 1) {
        handler.getMap().setZoom(14);
      }
    });
  });
</script>
<% end %>



