<div class="container text-center col-xs-12 col-md-8">
  <div class="col">
    <div class="row">
       <% @services.each do |service| %>

            <figcaption>
              <h3><%= service.title %></h3>
              <p><%= service.category %></p>
              <p><%= service.description %></p>
              <p><%= service.address %></p>
              <div class="price">
               <p> <s>$39.00</s> <%= service.price_per_hour %>$</p>

              </div>
            </figcaption><i class="ion-android-cart"></i>
            <a href="#"></a>
            <%= link_to "", service_path(service) %>

       <% end %>
    </div>
  </div>
</div>




<div class="mappy col-xs-12 col-md-4">
  <div id="map" style="width: 100%; height: 100vh;"></div>
    <% content_for(:after_js) do %>
    <%= javascript_tag do %>
      $(document).ready(function() {
      var handler = Gmaps.build('Google');
      handler.buildMap({ internal: { id: 'map' } }, function() {
      markers = handler.addMarkers(<%= raw @hash.to_json %>);
      handler.bounds.extendWith(markers);
      handler.fitMapToBounds();
          if (markers.length == 0) {
          handler.getMap().setZoom(2);
        } else if (markers.length == 1) {
        handler.getMap().setZoom(14);
        }
        });
        });
    <% end %>
  <% end %>
</div>



<%= content_for(:after_js) do %>
<script src="https://maps.googleapis.com/maps/api/js?libraries=places&amp;key=AIzaSyAe4PVk38pNIO3t77HZnIT6f_8b_k30BCs"></script>
<% end %>
