
<div class="container">
  <div class="map-container text-center col-xs-12 col-sm-6 ">

    <h3>Trouvez un service sur mesure</h3>

    <%= form_tag(services_path, method: :get, class: 'form-search') do %>
    <%= text_field_tag :search_city, params[:search_city] , placeholder: "ville", class: "input-medium search-query" %>
    <br>
    <br>
    <%= select_tag :search_category, options_for_select(Service::SOUS_CATEGORIES, params[:search_category]), prompt: "Catégorie" %>
    <br>
    <br>

    <%= submit_tag "Trouvez un spécialiste", class: "btn btn-primary" %>
      <% end %>


  <div class="mappy">
    <div class="card">
      <div id="map" style="width: 100%; height: 100vh;"></div>
    </div>
    </div>
  </div>

<div class="container-index col-xs-12 col-sm-6" style="overflow:scroll; height: 90vh;">

         <% @services.each do |service| %>
     <div class="row white-row">



          <%= link_to " ", service_path(service), class: "card-link" %>

             <h4 class= "text-center" ><%= service.title %></h4>
              <div class="col-sm-6">
              <% if service.provider.photos.first.nil? %>
               <%= image_tag "cosilverlogo#{rand(1..3)}.png", width: 150, height: 100, crop: :fill %>
               <% else %>
               <%= cl_image_tag service.provider.photos.first.path, width: 150, height: 100, crop: :fill %>
               <% end %>
               <br>

              </div>

              <div class="col-sm-6">
                <span> <i class="fa fa-flag" aria-hidden="true"></i> &nbsp <%= service.category %></span>
                <br>

                 <span> <i class="fa fa-map-marker" aria-hidden="true"></i> &nbsp &nbsp   <%= service.address %></span>
                 <br>
                <span> <i class="fa fa-money" aria-hidden="true"></i> &nbsp   <%= service.price_per_hour %>
                 € </span>
                 <br>

                <%= link_to "Réserver une prestation", service_path(service),   class: "btn btn-success" %>
                </div>

            </div>
        <% end %>
      </div>
    </div>


<% content_for(:after_js) do %>
<script>
  $(document).ready(function() {
    var handler = Gmaps.build('Google');
    handler.buildMap({ internal: { id: 'map' } }, function() {
      markers = handler.addMarkers(<%= raw @hash.to_json %>);
      handler.bounds.extendWith(markers);
      handler.fitMapToBounds();
      if (markers.length == 0) {
        handler.getMap().setZoom(2);
      } else if (markers.length == 1) {
        handler.getMap().setZoom(14);
      }
    });
  });
</script>
<% end %>



