<div class="container text-center">
  <div class="row">
    <div class="col-xs-12 col-sm-6">
      <figure class="snip1139">
        <blockquote><%= @service.description %>
          <div class="arrow"></div>
        </blockquote>
        <% if @service.provider.photos.first.nil? %>
        <%= image_tag 'cosilverlogo3.png', width: 350, height: 350, crop: :fill %>
        <% else %>
        <%= cl_image_tag @service.provider.photos.first.path, width: 350, height: 350, crop: :thumb, gravity: :face %>
        <% end %>
        <div class="author">
          <h5><%= @service.provider.first_name %> <span>- <%= @service.price_per_hour %> €/heure</span></h5>
          <h4><%= @service.title %></h4>
          <p><%= @service.address %></p>
        </div>
      </figure>
    </div>
    <!-- emplacement des dates disponibles pour booker les services en tant que user -->
    <div class="col-xs-12 col-sm-6">
      <div class="btn btn-success calendrier">
        <h4>calendrier</h4>
        <%= simple_form_for [@service, @booking] do |f| %>
          <div class="form-group">
            <label for="" class="control-label">Sélectionnez vos disponibilités</label>
            <div id="datepicker-show"></div>
            <input type="hidden" id="my_hidden_input_show" name="booking_dates">
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

<%= content_for :after_js do %>
  <script>
    var availableDates = <%= raw @availabilities %>

    $('#datepicker-show').datepicker({
      format: "dd/mm/yyyy",
      weekStart: 1,
      multidate: true,
      beforeShowDay:
        function(date)
        {
          return available(date)
        }
    });

    $('#datepicker-show').on('changeDate', function() {
      $('#my_hidden_input_show').val(
          $('#datepicker-show').datepicker('getFormattedDate')
      );
    });

    function available(date) {
      dmy = date.getDate() + "-" + (date.getMonth()+1) + "-" + date.getFullYear();
      if ($.inArray(dmy, availableDates) != -1) {
        return { enabled: true, classes: "available" }
      } else {
        return { enabled: false, classes: "booked" }
      }
    }
  </script>
<% end %>
