<li>
  <div class="panel panel-default" data-conversation-id="<%= conversation.id %>">
    <div class="panel-heading">
      <%= link_to conversation.opposed_user(user).email.split("@")[0].capitalize, '', class: 'toggle-window' %>
      <%= link_to "x", close_conversation_path(conversation), class: "btn btn-default btn-xs pull-right hidden", remote: true, method: :post %>
      </div>

    <div class="panel-body" style="display: none;">
      <div class="messages-list">
        <ul>
          <%= render 'conversations/conversation_content', messages: conversation.messages, user: user %>
        </ul>
      </div>
      <form class="new_message" id="form-msg">
        <input name="conversation_id" type="hidden" value="<%= conversation.id %>">
        <input name="user_id" type="hidden" value="<%= user.id %>">
        <div class="send_message">
          <input type="text" name="content" class="form-control" id="textarea-msg">
          <input type="submit" value="Envoyez">
        </div>
      </form>
    </div>
  </div>
</li>

<% content_for(:after_js) do %>
  <script>

  $('#textarea-msg').keyup(function(e){
    if (e.keyCode === 13) {
      e.preventDefault();
      $('#form-msg').submit();
      }
  });
  </script>
<% end %>
<!--
class="btn btn-success" -->
