<%= javascript_include_tag "https://maps.google.com/maps/api/js?libraries=places&key=#{ENV['GOOGLE_API_BROWSER_KEY']}" %>

<div class="banner" style="background-image: linear-gradient(-225deg, rgba(145, 136, 154, 0.68) 0%, rgba(12, 15, 15, 0.5) 50%), url('<%= image_path('livingroom2.jpg')%>');">
  <div class="container">
    <div class="row">


    <div class="col-xs-10 col-offset-1 col-sm-6">
      <%= simple_form_for @flat do |f| %>
      <%= f.input :category, label: "Catégorie",placeholder: "Category", collection: ["Appartement", "Maison"] %>
      <%= f.input :address, label: "Adresse", placeholder: "Tapez votre adresse" %>
      <%= f.input :city, label: "Ville", placeholder: "Dans quelle ville vivez-vous ?" %>
      <%= f.input :service_charges, label: "Charges", placeholder: "A combien s'élèvent les charges ?"%>
      <%= f.input :deposit, label: "Caution", placeholder: "Quel montant ?" %>
      <%= f.input :photos, label: " Vos photos", as: :attachinary %>
    </div>

    <div class="col-xs-10 col-offset-1 col-sm-6">
      <%= f.input :flat_area, label: "Superficie de votre logement", placeholder: "Entrez la superficie" %>
      <%= f.input :max_roommmates, label: "Nombre de colocataires souhaité", placeholder: "Combien de colocataires souhaitez-vous ? " %>
      <%= f.input :number_pieces, label: "Nombre de pièces", placeholder: "Entrez le nombre de pièces" %>
      <%= f.input :smoker, label: "fumeur/fumeuse ?" %>
      <%= f.input :animals, label: "Des animaux ?" %>
    </div>
      <%= f.submit "Ajoutez votre appartement / maison", class: "btn btn-success" %>
      <% end %>
    </div>
  </div>
</div>
