

<div class="col-md-4 col-sm-6 col-xs-12 personal-info">
  <div class="text-center">
    <h3>Votre photo de profil</h3>
    <% if current_user.photos? %>
      <%= cl_image_tag current_user.photos.first.path, width: 300, height: 300, crop: :thumb, radius: :max, class: "avatar-extra-large img-thumbnail" %>
    <% elsif current_user.facebook_picture_url.present? %>
      <%= image_tag current_user.facebook_picture_url, :style => 'border-radius: 150px' %>
    <% else %>
      <%= image_tag 'cosilverlogo3.png', class: "avatar-extra-large" %>
    <% end %>

    <%= simple_form_for(current_user, as: "user", url: user_path(current_user), html: { method: :put }) do |f| %>
      <%= f.error_notification %>
      <%= f.input :photos, as: :attachinary %>
    <% end %>
    <h5>Upload a different photo...</h5>
  </div>
</div>


<div class="col-md-8 col-sm-6 col-xs-12 personal-info">
  <div class="text-center">
    <h3>Vos informations personnelles </h3>
    <%= simple_form_for(current_user, as: "user", url: user_path(current_user), html: { method: :put }) do |f| %>
      <%= f.error_notification %>

      <div class="form-inputs form-horizontal">
        <%= f.input :email, required: true, autofocus: true %>
        <%= f.input :password, label: false, placeholder: "Mot de passe actuel", autocomplete: "off", hint: "Laissez ce champs vide si vous ne voulez pas changer de mot de passe", required: true %>
        <%= f.input :password_confirmation, required: true, label: false, placeholder: "Entrez un nouveau mot de passe si vous voulez le changer. " %>
        <%= f.input :current_password, required: true, label: false, placeholder: "Réécrivez le nouveau mot de passe." %>
        <div class="form-actions">
          <%= f.button :submit, "Mettre à jour", class: "btn btn-primary" %>
        </div>
      </div>

    <% end %>
      <br>
    <h5>Unhappy ? <%= link_to "Supprimer mon compte", registration_path("user"), data: { confirm: "Etes-vous sûr?" }, method: :delete %></h5>
    <h3>
      <%= link_to "Retour aux offres de colocations", offers_path, class: "btn btn-primary" %>
    </h3>

  </div>
</div>

