<div class="col-md-4 col-sm-6 col-xs-12">
  <div class="text-center">
    <% if current_user.photos? %>
      <%= cl_image_tag current_user.photos.first.path, width: 300, height: 300, crop: :thumb, radius: :max, class: "avatar-extra-large img-thumbnail" %>
    <% elsif current_user.facebook_picture_url.present? %>
      <%= image_tag current_user.facebook_picture_url, :style => 'border-radius: 150px' %>
    <% else %>
      <%= image_tag 'cosilverlogo3.png', class: "avatar-extra-large" %>
    <% end %>
    <h6>Upload a different photo...</h6>
  </div>
</div>
<div class="col-md-8 col-sm-6 col-xs-12 personal-info">
<%= simple_form_for(current_user, as: "user", url: registration_path("user"), html: { method: :put }) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs form-horizontal">
    <%= f.input :email, required: true, autofocus: true %>

    <%= f.input :password, autocomplete: "off", hint: "leave it blank if you don't want to change it", required: false %>
    <%= f.input :password_confirmation, required: false %>
    <%= f.input :current_password, hint: "we need your current password to confirm your changes", required: true %>
    <%= f.input :photos, as: :attachinary %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "Update" %>
  </div>
<% end %>

<p>Unhappy? <%= link_to "Cancel my account", registration_path("user"), data: { confirm: "Are you sure?" }, method: :delete %></p>

<%= link_to "Back", :back %>
</div>
