<div class="wrapper-profil">
  <div class="profile-header-wrapper">
    <div class="container profile-header-container text-center">

      <div class="tabs">
        <a class="tab" data-target="#messagerie">
          <h3>Mes conversations</h3>
        </a>
        <a class="tab" data-target="#services">
          <h3>Mes services à venir</h3>
        </a>
<!--         <a class="tab" data-target="#colocataires">
          <h3>Mes offres</h3>
        </a> -->
        <a class="tab" data-target="#settings">
          <h3>Mes informations</h3>
        </a>
        <a class="tab active" data-target="#my-flat">
          <h3>Mon appartement / Ma maison</h3>
        </a>
      </div>
      <div class="tab-content hidden" id="messagerie">
        <%= render "my_messages" %>
      </div>
      <div class="tab-content hidden" id="services">
        <%= render "my_services" %>
      </div>
      <div class="tab-content hidden" id="colocataires">
          <%= render "cards" %>
      </div>
      <div class="tab-content hidden" id="settings">
          <%= render "settings" %>
      </div>
      <div class="tab-content" id="my-flat">
          <%= render "my-flat" %>
      </div>
    </div>
  </div>


</div>


