<div class="banner-width">
<%= render 'shared/banner' %>
</div>
<div class="supporting">
   <div class="container text-center">

     <div class="col-xs-12 col-sm-6 col-lg-4 image-home">
       <%= image_tag "search.png" %>
       <h2>Trouvez le colloc' idéal </h2>
       <p>Trouvez quelqu'un qui partage vos centres d'intérêts</p>
       <!--  <a class="btn-default" href="#">Learn more</a> -->
     </div>

     <div class="col-xs-12 col-sm-6 col-lg-4 image-home">
       <%= image_tag "visit1.png" %>
       <h2>Visitez l'appartement</h2>
       <p>Prenez date et faites connaissance de l'appart et de son proprio</p>
       <!-- <a class="btn-default" href="#">Learn more</a> -->
     </div>

     <div class="col-xs-12 col-sm-6 col-lg-4 image-home">
       <%= image_tag "welcome2.png" %>
       <h2>Emménagez!</h2>

       <p>Si le profil du colloc' et si l'appartement vous correspondent, nous vous accompagnons dans vos démarches d'emménagement</p>

       <!-- <a class="btn-default" href="#">Learn more</a> -->
     </div>
        <!-- Discussion instantanée -->
        <% if user_signed_in? %>
     <div class="message_row">
       <div class="col-md-9">
         <ul id="conversations-list">
         </ul>
       </div>
       <div class="col-md-3">
         <div class="panel ">
           <div class="panel-heading">
             <h3 class="panel-title">Discussion instantanée</h3>
           </div>
           <div class="panel-body">
             <ul>
               <% @users.each do |user| %>
                 <li><%= link_to user.email, conversations_path(user_id: user), remote: true, method: :post %></li>
               <% end %>
             </ul>
           </div>
         </div>
       </div>
     </div>
   </div>
</div>
<% end %>

