<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <ul>
        <% @offers.each do |offer| %>
        <li><%= offer.content %></li>
        <li><%= offer.title %></li>
        <li><%= offer.price %></li>
        <li><%= offer.room_size %></li>
        <li><%= link_to "Détails", offer_path(offer) %></li>
        <% end %>
      </ul>
    </div>
    <%= link_to "Accueil", root_path %>
  </div>
</div>
