<div id="carousel-example-generic" class="carousel slide carousel-top-link center-block" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target=".carousel slide carousel-top-link" data-slide-to="0" class="active"></li>
    <li data-target=".carousel slide carousel-top-link" data-slide-to="1"></li>
    <li data-target=".carousel slide carousel-top-link" data-slide-to="2"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner" style="width:100, height:100" role="listbox">
    <div class="item active">
      <%= cl_image_tag @offer.flat.photos[0].path, height:450, width: 800, crop: :fill, class: "img-responsive center-block" %>
    </div>
    <div class="item">
      <%= cl_image_tag @offer.flat.photos[1].path, height:450,width: 800, crop: :fill, class: "img-responsive center-block" %>
    </div>
    <% if @offer.flat.photos.count > 2 %>
    <div class="item">
      <%= cl_image_tag @offer.flat.photos[2].path, height:300, crop: :fill, class: "img-responsive center-block" %>
    </div>
    <% end %>
  </div>

  <!-- Controls -->
  <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>

<div class="container" id="container-show-offer">
  <div class="offer-show-container">
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="padded">
          <% if @offer.flat.user.photos.first || @offer.flat.user.facebook_picture_url %>
            <% if @offer.flat.user.photos.first %>
              <%= cl_image_tag @offer.flat.user.photos.first.path, size: '50x50', crop: :thumb, gravity: :face, class: "avatar-extra-large img-thumbnail" %>
              <% else %>
                <%=  image_tag @offer.flat.user.facebook_picture_url, size: '50x50', crop: :thumb, class: "avatar-extra-large img-thumbnail"  %>
              <% end %>
            <% else %>
                <%= image_tag 'cosilverlogo2.png', class: "avatar-extra-large" %>
          <% end %>
          <h4>Description</h4>
          <p> <%= @offer.content %>
            <h5><%= @offer.flat.user.first_name %></h5>
            <p> <strong>Surface : </strong><%= @offer.flat.flat_area %> m²</p>
            <p><strong>Nombre max de colocs : </strong> <%= @offer.flat.max_roommmates %></p>
            <p><strong>Nombre de pièces : </strong> <%= @offer.flat.number_pieces %></p>
            <p><strong>Fumeur : </strong> <%= @offer.flat.smoker ? 'Oui' : 'Non' %></p>
            <p> <i class="fa fa-paw" aria-hidden="true"></i> <strong>Animaux : </strong> <%= @offer.flat.animals ? 'Oui' : 'Non' %></p>
          </div>
        </div>

        <div class="col-xs-12 col-sm-6 col-md-4">
          <div class="padded">
            <h2>Détails de l'offre</h2>

            <p> <i class="fa fa-money" aria-hidden="true"></i> <strong>Prix:</strong>  <%= @offer.price %> €/mois</p>
            <p> <i class="fa fa-cc-visa" aria-hidden="true"></i> <strong>Charges:</strong> <%= @offer.flat.service_charges %> €/mois</p>
            <p> <i class="fa fa-credit-card-alt" aria-hidden="true"></i> <strong>Garantie:</strong> <%= @offer.flat.deposit %> €</p>
            <p> <i class="fa fa-expand" aria-hidden="true"></i> <strong>Taille de la chambre:</strong> <%= @offer.room_size %> m2</p>
            <p> <i class="fa fa-home" aria-hidden="true"></i>  <strong>Type:</strong> <%= @offer.flat.category %></p>
            <p>   <i class="fa fa-map-marker" aria-hidden="true"></i>   <strong> Adresse:</strong> <%= @offer.flat.address %>, <%= @offer.flat.city %></p>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="padded">
          <h2>Messenger</h2>
        </div>
        <div class="panel text-center">
          <div class="panel-heading">
            <h3 class="panel-title">Discussion instantanée</h3>
          </div>
          <div class="panel-body">
            <ul>
              <% @users = [] %>
              <% @users << @offer.flat.user unless @offer.flat.user == current_user  %>
              <% @users.each do |user| %>
                <li><%= link_to user.email.split("@")[0], conversations_path(user_id: user), remote: true, method: :post, id:"email-msg"  %></li>
                <li>
                  <a href="#" id='close-msg'>Fermer</a>
                </li>
              <% end %>
            </ul>
          </div>
        </div>

        <% if current_user != @offer.flat.user %>
          <div class="message_row">
            <ul id="conversations-list">
            </ul>
          </div>
      </div>
        <% end %>
    </div>
    <div class="col-md-1">
      <div class="offer_btn">
        <%= link_to "Retour aux offres de colocation", offers_path, :class => "btn btn-warning" %>
      </div>
    </div>
  </div>
</div>

<script>
  $(document).ready(function(){
    $('#close-msg').click(function(e){
      e.preventDefault();
      $('.panel.panel-default').hide();
    });
    $('#email-msg').click(function(){
      $('.panel.panel-default').show()
    });
    $('.message_row').draggable();
    $( "#panel.panel-default" ).effect( "size", {
    to: { width: 200, height: 60 }
  }, 1000 );
  })
</script>

